<!-- 
!!!!!!!!!! DO NOT DELETE THIS YET !!!!!!!!! -->

<%- include("../partials/head.ejs") %>

  <body class="body">
        <div class="container-fluid">
          <div class="login-section">
          <div class="img-div">
            <img src="../uploads/about-page-img.jpg" alt="">
          </div>

          
          <div class="login-div">
            <div class="login-box">
              <div class="page-banner-login">
                <h2>LOGIN</h2>
              <a href="/auth/google">
                <img src="../uploads/google.png" alt=""> <!--need to check copyright-->
              </a>    
              </div>
            </div>
          </div>

        </div>
        </div>
  </body>