  /* Style for the search bar */
  .form-inline{
    width: 100%;
    
  }
  
  .form-control{
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 40px;    
    letter-spacing: 2px;
    text-transform: uppercase;
  
  }

  /* Style for table */
  .table-responsive-sm{
    margin: 5%;
  }
 
 .table th{
  background-color: #b10e0eec;
  color: white;
  margin-top: 10%;
  border-top: ridge 1px  #b10e0eec;

  }

.table td{ 
  background-color: #e5eaf021;
  border: 1px solid #dee2e6;
  
}

.btn-form {
  background-color: #b10e0eec;
  color: #ffffff;
  font-weight: 500;
}



  
  
  
   /* Responsive columns whit breakpoints*/
   
   @media screen and (max-width: 1500px) and (min-width: 900px) {

       /*Let this breakpoint be here for now. Maybe we need to add code here later*/
  }
  
  @media screen and (max-width: 900px) {
      .form-inline{
  margin: 5%;
  width: 50%;
  justify-content: center;
  }

  .btn-form{
      font-size: medium;
      width: 70%;
      margin:5px;
  }



  }
  
  
  @media screen and (max-width: 400px) {
    .btn-form{
      font-size: small;
      text-align: center;
      width: 100%;
      background-color: #b10e0eec;
      color: #ffffff;
      font-weight: 500;
      padding-top: 5px;
      margin:5px;
  }

  }