/* Every ejs file calls this css */

body{
  font-family: Arial, sans-serif;
}

nav{
display: flex;
justify-content: space-between;
/* margin-bottom: 2%; */
text-transform: uppercase;
}

nav ul{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
nav li{
list-style-type: none;
margin-left: 20px;
}
nav h1{
font-size: 3em;
}
nav p, nav a{
color: #777;
font-weight: 300;
}

/* Style for searchbar and shoppingcart/login */
.d-flex .btn{
  background-color: #b10e0e;
  border-color: #b10e0e;
  color: #ffffff;
}

.d-flex .btn:hover{
  background-color: #b10e0e;
  border-color: #b10e0e;
  color: white;
}

.fas {
    color: #b10e0e;
} 



/* Footer css start */
/*footer{} Styles the footer whit readiant color style */
footer{ 
font-weight: 500;
background-color: #b10e0e;
background-image:
  linear-gradient(
    to top right, 
    #fdf8f2, #b10e0e
  );
  margin-top: 10%;
}

.page-footer .container{
padding-top: 10%;
}

.page-footer .fab{
color: #491111;
}

.footer-copyright a {
color: black;
}
