/* Styling for head.ejs, footer.ejs, nav.ejs  */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: Arial, sans-serif;
}

.nav_logo {
  left: 30px;
  padding: 0% 10% 0% 0%;
  position: absolute;
 }
 
 .nav_logo a { 
  color: inherit; 
  text-decoration: none;
} 
  
.navbar-logo{
  width: 40%;
}

.navbar-nav{
 display: flex;
 justify-content: center;
}
 
.nav-item {
  list-style-type: none;
  margin: 0% 1%;
  font-size: 1.5rem;
  float: left;
  margin-right: 0px;
  padding: 0 20px;
  
}
 
.nav-item a:hover {
  color: #666;
}

.navbar {
  display: flex;
  text-transform: uppercase;
  background-color: #ffffff;
}

nav p, nav a {
  color: #777;
  font-weight: 300;
}

/* Style for the navbar logos/links on the right side */
.nav-brands {
  display: flex;
}

.nav-brand {
  color: #777;
  justify-content: right;
}

.nav-brands > * {
  margin: 0% 15%;
}

.nav-brand:hover {
  color: #b10e0e;
  text-decoration: none;
}

.breadcrumb-nav{
  display: flex;
  justify-content: center;
}
    
.breadcrumb-nav .breadcrumb{
      padding: 0% 0%;
}

.breadcrumb-nav:hover{
text-decoration: none; 
}

.breadcrumb-item a:hover{
color:#b10e0e;
text-decoration: none;
}

/* Footer css start */
/*footer{} Styles the footer whit readiant color style */
footer { 
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 50vh 0 50vh #c71818c0;
  background-color: #c71818c0;
  margin-top: 10%;
}

.footer-middle {
  padding-top: 2%;
  color: #ffffff;
}

.paypal-text img{
  width: 30%;
}

.footer-copyright {
  margin:2%;
  padding: 1% 0% 1% 0%;
  font-size: 0.8rem;
  border-top: 1px solid #ffffff;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  padding: 0%;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  border-radius: 10%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
}

.social-circle li i {
  margin: 0%;
  line-height: 30px;
  text-align: center;
}

.social-circle i {
  color: #000000;
}

.social-network a {
  background-color: #F9F9F9;
}

/* Responsive columns whit breakpoints*/
   
@media screen and (max-width: 1500px) and (min-width: 900px) {
/*Let this breakpoint be here for now. Maybe we need to add code here later*/
.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .navbar-logo {
   width: 30%;
 }

 .navbar-nav .nav-item{
  text-align: center;
 }
  
}

@media screen and (max-width: 900px) and (min-width: 500px) {

.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
   
.navbar-logo {
   width: 30%;
}
  
.navbar-nav .nav-item{
  text-align: center;
}

.bag-counter{
  display: none;
}
.navbar-brand{
  display: flex;
  justify-content: center;
}

.nav-brands > * {
  margin: 0% 0%;
  padding: 0% 0% 0% 5%;
}
}


@media screen and (max-width: 500px) and (min-width: 300px) {
  .nav-brands > * {
  margin: 0% 0%;
  padding: 0% 5% 0% 5% ;
}

.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .navbar-logo {
     width: 30%;
   }
  
   .navbar-nav .nav-item{
    text-align: center;
   }

  .footer-middle {
    font-size: 0.8rem;
  }
  
.paypal-text img{
  width: 20%;
}
.bag-counter{
  display: none;
}




}



@media screen and (max-width: 300px) and (min-width: 100px) {
  
  .navbar-logo{
    display: none;
  }

}
