/* Styling for product-details.ejs */

.product-container{
  top : 0;
  left : 0;
  box-sizing: border-box;
}
.product-detail-h2{
  padding: 5% 0%;
  }
  
.product-holder{
  width : 100%;
  display: flex;
  justify-content: center;
  padding: 2% 5%;
}
  
.product-holder img {
  /* height: auto; */
  width: 100%;
  padding: 0% 2%;  
}

.product-detail-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
}

.product-detail-box {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  text-align: center;
}

.product-detail-h2 {
  padding: 5% 0%;
}
  
.product-detail-banner {
  padding: 0% 5%;
}

.product-description{
  width: fit-content;
  margin-top : 20px;
  max-width: 100%;
}

.product-description > .product-detail-description {
  text-align: left;
  margin: 0% 0% 5% 0%;
}

.description-and-btns {
  display: flex;
  flex-direction: column;
}


.btn-add-cart {
  width: 60%;
  background-color: #f1f1f1;
  box-sizing: border-box;
  color: #000000;
  line-height: 1.75rem;
  text-align: center;
  /* This css makes the "backgorund" transoformation on the btn */
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

  /* This css makes the "backgorund" transoformation on the btn */
.btn-add-cart:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  outline: 1px solid #b10e0e;
  bottom: 4px;
  left: 4px;
  /* We use calc() because its the most usefull to mix units, as we have done with % and px */
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-add-cart:hover:after {
  text-decoration: none;
  bottom: 2px;
  left: 2px;
}

.btn-size {
  width: 60%;
  transform: rotate(-2deg);
}
 
.dropdown-menu {
  width: 60%;
}


.size-and-bag { 
  margin: 40% 0% 0% 0% ;
}

.size-and-bag > *{
  margin: 3% ;
}

.btn-add-cart > * {
  margin: 2%;
}

.brand-price {
  display: flex;
  justify-content: space-between;
}
  
.brand-price p {
  font-size: 1.2rem;
}

.reviews-heading {
  text-align: center;
  margin-top: 3%;
}

.write-review-div {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-inputs > * {
  margin: 3%;
}

.rating-btn {
  margin-bottom: 2%;
}

.review-submit-btn {
  width: 30%;
  background-color: #f1f1f1;
  box-sizing: border-box;
  color: #000000;
  line-height: 1.75rem;
  text-align: center;
  /* This css makes the "backgorund" transoformation on the btn */
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1px solid #000000;
  outline: 1px solid #b10e0e;
}

.review-table {
  margin: 5% 0%;
}

.review-thead {
  background-color: #f1f1f1;
  border: 4px solid #000000;
  outline: 2px solid #b10e0e;
}

.submit-review-div{
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}   
.review-h3{
  font-size: 1.5rem;
  
}
/* Responsive columns whit breakpoints*/
     
@media screen and (max-width: 1500px) and (min-width: 900px) {
  .product-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: 2px solid #b10e0e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.product-holder img{
  padding: 0% 0%;
}

.product-holder-img{
   margin: 2% 0%;
   height: 100%;
   width: 50%;
  }

  .product-detail-div{
    width: 100%;
    font-size: 1.5rem;
  }

}
  
@media screen and (max-width: 900px) and (min-width: 750px){

.product-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    outline: 2px solid #b10e0e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.product-holder img{
  padding: 0% 0%;
}

.product-holder-img{
   margin: 2% 0%;
   height: 100%;
   width: 50%;
  }

  .product-detail-div{
    width: 100%;

  }

  .product-detail-description{
    padding : 8px;
  }

  .reviews-heading{
      margin: 20% 0% 0%  0%;
  }
    
  .size-and-bag{
      margin: 0% 0%;
  }

}
      
@media screen and (max-width: 750px)and (min-width: 200px) {
    .btns-shop {
      padding: 1% ;
    }
    .btn-size{
      width: 80%;
    }
    .btn-add-cart{
      width: 80%;
    } 

    .product-holder{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 2px solid #000000;
        outline: 2px solid #b10e0e;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
    
    .product-holder img{
        padding: 0% 0%;
        margin : 0;
    }
      
    .product-holder-img{
        /* margin: 2% 0%; */
        height: 100%;
        width: 100% fit-content !important;
    }
      
    .product-detail-div{
          width: 100%;
    }

    .product-detail-description{
      padding : 8px;
    }

    .reviews-heading{
      margin: 20% 0% 0%  0%;
    }

    .size-and-bag{
      margin: 0% 0%;
    }

    .brand-price {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }



}