/* Css for update product page and the page for product details */

/* Style for product update page starts */


    /* details styles */
    .details{
        position: relative;
      }
  
      /* create styles */
      .create-blog form{
        max-width: 400px;
        margin: 0 auto;
      }
      .create-blog input,
      .create-blog textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .create-blog label{
        display: block;
        margin-top: 24px;
      }
      textarea{
        height: 120px;
      }
  
  
  
  /* Product details style start */
  h2 {
      text-align: center;
      
    }
    
      /* Cards css start */
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 400px;
        padding: 10px;
        text-align: center;
        background-color: #f1f1f1;
      }
    
      .card-body .btn-card {
          background-color: #b10e0e;
          color: #ffffff;
          font-weight: 500;
      }
    
      .card-body .btn-card:hover {
        background-color: #d1ccc760;
        color: #491111;
    }
      .card:hover {
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
      }
      
    /* Style for the star/rewie in cards */
    .star {
      cursor: pointer;
      height: 35px;
      width: 35px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #eee;
    }
    .fa-star{
      color: #b10e0e;
    }
    
      /* Code for sizing the img whit css
       .card-img {
        border-radius: 5px 5px 0 0;
        padding: 2px 16px;
        width: 250px;
        height: 300px;
        border-radius: 5%;
        border-color: #FF416C;
      } */
    
      
    /* Float  columns side by side */
    .column{
        float: left;
        width: 30%;
        padding: 50px 10px 10px 10px;
        padding-left: 50px;
      }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Clear floats after the columns */
    .row:after {
      display: table;
      clear: both;
    }
    
    
     /* Responsive columns whit breakpoints*/
     
     @media screen and (max-width: 1500px) and (min-width: 900px) {
      .column{
        width: 50%;
        display: block;
        margin-bottom: 20px;
        padding: 10%;
      }
      .card{
        width: 350px
    
      }
      
    }
    
     @media screen and (max-width: 900px) {
    
    .column{
          width: 100%;
          display: block;
          margin-bottom: 20px;
          padding: 10%;
    }
    
    .card{
      width: 80%;
    }
    .card-img{
      border-radius: 5px 5px 0 0;
      padding: 2px 16px;
      width: 150px;
      height: 270px;
      object-fit: contain;
    }
    
    .card-body .btn-card{
          font-size: medium;
          width: 70%;
          margin:5px;
    }
    
    
    
    }
    
    @media screen and (max-width: 400px) {
      /* Code for sizing the img whit css */
       .card img {
        padding: 2px 20px;
        width: 200px;
        height: 200px;
      }
    
      .card-body .btn-card{
        font-size: medium;
        width: 70%;
        background-color: #eee;
        color: rgb(0, 0, 0);
        padding-top: 5px;
        margin:5px;
    }
    
      
    }