<html lang="en">
    <%- include("../partials/head.ejs") %>
    
    <body>
      <%- include("../partials/nav.ejs") %>
      
      <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
      <div class="not-found content">
        We're sorry. We could not find the page you are looking for.
      </div>
    
      <%- include("../partials/footer.ejs") %>
    </body>
  

    </html>