<%- include("../partials/head.ejs") %>

  <body>
    <!-- Container fluid does that the navbar and everything inside fits to the page -->
    <!-- Look at this later if time let us -->
    <div class="container-fluid">
      <%- include("../partials/nav.ejs") %>

        <nav class="breadcrumb-nav" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
        </nav>




        <div class="holder-contact-info text-center">
          <h2>CONTACT INFORMATION</h2>
          <br>
          <div class="row contact-info">
            <div class="col-sm-4">
              <i class="fa fa-map-marker contact-info-fa" aria-hidden="true"></i>
              <h4>Adress</h4>
              <p>Biblioteksgatan 7, 111 44 Stockholm, Sweden</p>
              <p>Sønderstræde 97, 1708 Copenhagen, Denmark</p>
              <p>Veslefrikkveien 34, 0851 Oslo, Norway</p>

            </div>

            <div class="col-sm-4 contact-info-email">
              <i class="fa-solid fa-phone contact-info-fa" aria-hidden="true"></i>
              <h4>Call Center</h4>
              <p>Open weekdays 10.00 - 15.00</p>
              <p>Phone: 08 12 12 12</p>

            </div>

            <div class="col-sm-4 contact-info-email">
              <i class="fa-solid fa-envelope contact-info-fa" aria-hidden="true"></i>
              <h4>Email</h4>
              <p>Email: supersneakersbrand@gmail.com</p>
              <p>We respond to emails within one business day </p>
            </div>

          </div>
        </div>


        <!-- Div for gray "banner" -->
        <div class="about-banner">
          <div class="about-holder-img">
            <div class="img-holder-container">
              <img class="cat-img" src="./uploads/about-page-img.jpg" alt="">
            </div>
          </div>
          <div class="about-banner-text">
            <h2>ABOUT SUPER SNEAKERS</h2>
            <p class="about-p">Our sneakers company was founded in 2018 by a small family and the vision of the company
              is to create shoes that fits everyone.
              The head office is located in Stockholm, Sweden. In total, we have 3 offices in Sweden, 1 offices in
              Norway and 1 office in Denmark. Currently, we have over 50 employees, with more people applying every day.
              We would like to create a shoe brand that is inspired by our own needs.
              Our company creates pieces that are comfortable and stylish in equal measure.
              The company has stayed true to the founding values of style, comfortable, quality and uniqueness. Each
              collection embraces these values in its own way with a constant sense of understated elegance and
              uniqueness that is long-lasting.
              We strive to eliminate unnecessary details, creating unique designs that become favorites to reach for day
              aSer day.
              Our vision is to grow internationally and share a mission to approach fashion from a global perspective of
              mindful consumption by creating sneakers that are timeless in their quality and style, and luxurious in
              their uniqueness.
            </p>
          </div>
        </div>

        <!-- Here the container and html for the Accomplishment starts -->
        <div class="accomplishment text-center">
          <h2>OUR VALUES</h2>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-star" aria-hidden="true"></i>
              <h4>POWER</h4>
              <p>We hold the latest trends and our goal is that our customers feel empowered and proud when shopping
                from Super Sneakers.</p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <h4>LOVE</h4>
              <p>5 friends got the idea to start Super Sneakers and from that day hard work and love has been the main
                focus for Super Sneakers.</p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <h4>JOB DONE</h4>
              <p>We have the aim of ensuring a continuous, transparent and trustful dialogue with all capital market
                participants.</p>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-leaf" aria-hidden="true"></i>
              <h4>GREEN</h4>
              <p>Our goal is to offer sneakers with eco-friendly materials to atleast half of the sneaker range by 2025.
              </p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-certificate" aria-hidden="true"></i>
              <h4>CERTIFIED</h4>
              <p>We have several certificates, online shop certified, eco-friendly certificate and certificates for
                secure payments.</p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              <h4>HARD WORK</h4>
              <p>Hard work has been invested in the company. Over the years, the company has expanded to offer a large
                range of sneakers and worldvide shipping.</p>
            </div>
          </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>