<%- include("../partials/head.ejs") %>

  <body>
    <!-- Container fluid does that the navbar and everything inside fits to the page -->
    <!-- Look at this later if time let us -->
    <div class="container-fluid">
      <%- include("../partials/nav.ejs") %>

        <nav class="breadcrumb-nav" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
          </ol>
        </nav>
        

        <!-- Div for gray "banner" -->
        <div class="about-banner">
          <div class="about-holder-img">
            <img class="cat-img" src="./uploads/about-page-img.jpg" alt="">
          </div> 
          <div class="about-banner-text">
            <h2>ABOUT SUPER SNEAKERS</h2>
            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id recusandae itaque expedita quia pariatur enim in eligendi quae harum dolorem omnis, eum beatae est, dolorum, laudantium numquam vitae praesentium asperiores?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni aliquid iure debitis? Velit quas, necessitatibus eveniet aliquam non ratione quibusdam iusto rem, esse magni veniam, sint laborum unde nostrum assumenda.
            </p>
          </div>
        </div>



<!-- Here the container and html for the Accomplishment starts -->
        <div class="accomplishment text-center">
          <h2>ACCOMPLISHMENT</h2>
          <h4>What we offer</h4>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <h4>POWER</h4>
              <p>We hold the latest trends and our goal is that our customers feel empowered and proud when shopping from Super Sneakers.</p>
            </div>
            <div class="col-sm-4">
              <h4>LOVE</h4>
              <p>5 friends got the idea to start Super Sneakers and from that day hard work and love has been the main focus for Super Sneakers.</p>
            </div>
            <div class="col-sm-4">
              <h4>JOB DONE</h4>
              <p>We have the aim of ensuring a continuous, transparent and trustful dialogue with all capital market participants.</p>
            </div>
            </div>
            <br><br>
          <div class="row">
            <div class="col-sm-4">
              <h4>GREEN</h4>
              <p>Our goal is to offer sneakers with eco-friendly materials to atleast half of the sneaker range by 2025.</p>
            </div>
            <div class="col-sm-4">
              <h4>CERTIFIED</h4>
              <p>We have several certificates, online shop certified, eco-friendly certificate and certificates for secure payments.</p>
            </div>
            <div class="col-sm-4">
              <h4>HARD WORK</h4>
              <p>Hard work has been invested in the company. Over the years, the company has expanded to offer a large range of sneakers and worldvide shipping.</p>
            </div>
          </div>
        </div>



    </div>



    <%- include("../partials/footer.ejs") %>
  </body>