<%- include("../partials/head.ejs") %>
  <div class="container-fluid order-form-container">
    <%- include("../partials/nav.ejs") %>
      <div class="order-form-flex-parent">
        <div class="order-form-div">
          <div class="order-form-title-div">
            <h3 class="order-form-h3"> Shipping Information</h3>
          </div>

          <form action="/paypal/checkout" method="post" class="order-form-holder-center">
            <!--kolla på routen-->
            <label for="name">Name</label>
            <input class="form-control rounded-0" type="text" id="name" name="name" required>

            <label for="name">Email</label>
            <input class="form-control rounded-0" type="text" id="email" name="email" required>

            <label for="Country">Country</label>
            <input class="form-control rounded-0" type="text" id="country" min="5" max="60" name="country" required>

            <label for="City">City</label>
            <input class="form-control rounded-0" type="text" id="city" name="city" required>

            <label for="Address">Address</label>
            <input class="form-control rounded-0" type="text" id="address" name="address" required>

            <label for="zipcode">Zip-code</label>
            <input class="form-control order-form-zip-code rounded-0" type="number" id="zipcode" min="4" max="10 "
              name="zipcode" required>
            <div class="order-form-btn-holder">
              <button class="btn order-form-btn rounded-0">Proceed &#8594;</button>
            </div>
          </form>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
  </div>