
<%- include("../partials/head.ejs") %>

<%- include("../partials/nav.ejs") %>

<!--This should be a modal!-->
<h2>Add Product</h2>
  <div class="create-blog content">
    <form action="/shop/products" method="POST" enctype="multipart/form-data"> <!--kolla på routen-->
        <label for="title">Title:</label>
        <input class="form-control" type="text" id="title" name="title" required>

        <label for="gender">Gender:</label>
        <input class="form-control" type="text" id="gender" name="gender" required>

        <label for="brand">Brand:</label>
        <input class="form-control" type="text" id="brand" name="brand" required>
       
        <label for="picture">Picture:</label>
        <input type="file" accept="image/*" id="picture" name="picture"  required>
      
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
        
        <label for="price">Price:</label>
        <input class="form-control"  type="number" id="price" name="price" required>
        <button  class="btn btn-card" >Submit</button>
      </form>
  </div>

  <%- include("../partials/footer.ejs") %>

