
 <!DOCTYPE html>
  <!--/FOOTER/-->
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="contactdetails">
          <p>Email: info@Sneakers.com</p>
          <p>Contact us: 08- 12 12 12 Every Day: 10:00 - 20:00 </p>
          <p>Adress: Biblioteksgatan 7, 111 44 Stockholm</p>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1" href="https://twitter.com/home">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1" href="https://linkedin.com/">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
    </div>
     <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="http://127.0.0.1:5500/index.html"> www.sneakers.com</a>
    </div>
  </footer>