<!DOCTYPE html>

<footer class="footer">

  <div class="footer-middle">
    <div class="container footer-container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">

            <h4>Find Us</h4>
            <ul class="list-unstyled">
              <li>Biblioteksgatan 7</li>
              <li>111 44 Stockholm</li>
            </ul>
          </div>
        </div>

        <!--Column2-->
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
              <li>Tel: 08 12 12 12</li>
              <li class="footer-email">supersneakersbrand@gmail.com</li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="paypal-text">
            <h4>Safe Payment</h4>
            <!-- PayPal Logo (From paypals webpage, so it's okay to use without copywrite etc) -->
            <a href="#" title="Så här fungerar PayPal"
              onclick="javascript:window.open('https://www.paypal.com/se/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=700, height=600');">
              <img class="paypal-img" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg"
                alt="PayPal Logo"></a>
          </div>
        </div>

        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/" class="icoFacebook" title="Facebook" target = "_blank"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/" class="icoLinkedin" title="Linkedin" target = "_blank"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 footer-copyright">
          <p class="text-center">&copy; Copyright 2022 - Super Sneakers. All rights reserved.</p>
        </div>
      </div>

    </div>
  </div>

</footer>