<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- For google login -->
  <meta name="google-signin-client_id"
    content="1086619862894-j4h783v8a5ptugd0v4s1j4utqais0sbl.apps.googleusercontent.com">

  <!--script for retrieving fontawesome icons etc-->
  <script src="https://kit.fontawesome.com/d82fdbf1c7.js" crossorigin="anonymous"></script>
  <!--julias kit-->
  <script src="https://kit.fontawesome.com/edf33a6a6a.js" crossorigin="anonymous"></script>
  <!--karwans kit, dont know if needed im just testing-->

  <!--this script makes the search function work-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!--all css links for the same styles on EJS files needs to be added here-->

  <!--Links to our css for navbar-->
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <!--Links to our css for all admin page -->
  <link rel="stylesheet" type="text/css" href="/css/category-style.css">
  <!--Links to our css for all admin page -->
  <link rel="stylesheet" type="text/css" href="/css/admin.css">

  <!--Links to our css for crud functions on products -->
  <link rel="stylesheet" type="text/css" href="/css/product-details.css">

  <!--link to stylesheet for the index page-->
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <!--link to stylesheet for the login page-->
  <link rel="stylesheet" type="text/css" href="/css/login.css">

  <!--Links to our css for all admin page -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <!-- This code calls on popper, which is a bootstrap javascript package-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!--This code calls on bootstrap so that we can use bootstrap code snippets-->

  <title>Super Sneakers |</title>
  <!--inclute title later-->



  <title>Placeholder</title>
  <!-- (change to dynamic later, i remember seeing you can do this with ejs like in netninjas video)-->

</head>

</html>