<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d82fdbf1c7.js" crossorigin="anonymous"></script>
  
  <!--link for shoping cart symbol-->
  <!--all css links for the same styles on EJS files needs to be added here-->
  <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
  <!--Links to our css for navbar-->

  <link rel="stylesheet"  type="text/css" href="/css/admin.css"> 
  <!--Links to our css for all admin page -->
  
  <!--Links to our css for crud functions on products -->
  <link rel="stylesheet" type="text/css" href="/css/product-details.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">

  <title>Product Ninja</title>
</head>

</html>