<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light ">
   <div class="container justify-content-center"> <!--This container helps us to have our navbar items in the cenenter -->

  <nav class="navbar navbar-light">
    <a class="navbar-logo-a" href="/">
      <img class="navbar-logo" src="/uploads/logo.png" alt="Logo">

    </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    
    <ul class="navbar-nav w-100 flex-nowrap">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/shop/men">Men</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/shop/women">Women</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/about">About</a>
        <!--change route, should not be in users-->
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/products">Admin</a>
      </li>

    </ul>

<!-- Loggos -->
    <div class="nav-brands ">
      <a class="nav-brand" href="/users/profile">
        <i class="fa-solid fa-user fa-lg"></i>
      </a>

      <a class="nav-brand" href="/users/profile">
        <!--change link-->
        <i class="fa-solid fa-bag-shopping fa-lg"></i>
      </a>
      <a class="nav-brand" href="/auth/login">
        <i class="fa-brands fa-google fa-lg"></i>
      </a>
    </div>
  </div>
   
  </div>
</nav>